
sdkconfig
sdkconfig.old
dependencies.lock

.DS_Store

hardware/.vscode
hardware/build

exec_esp.sh

circuito/*-bak
circuito/_autosave-*
circuito/*.bck
circuito/*.kicad_pcb-bak
circuito/*.kicad_sch-bak
circuito/*.fp-info-cache

.devcontainer/
### graphify ###
graphify-out/
